<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Chemistry</h1>
            <span>University of Illinois</span>
            <span><address>Urbana, IL</address><time>May 2019</time></span>
        </header>
        <p>
            Thesis: Chemical Apporaches to Understanding Small-Molecule Accumulation in Bacteria and Poly(ADP-ribosyl)ation
        </p>
    </article>
    <article>
        <header>
            <h1>B.S. in Chemistry</h1>
            <span>Wheaton College</span>
            <span><address>Wheaton, IL</address><time>May 2012</time></span>
        </header>
    </article>
</section>
