<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Post-doctoral researcher</h1>
            <span><address>Northwestern University, Evanston, IL</address><time>2019 to Present</time></span>
        </header>
        <p>Characterized cancer-specific post-translational modification in MAPK-driven cancers</p>
    </article>
    <article>
        <header>
            <h1>Graduate researcher</h1>
            <span><address>University of Illinois, Urbana, IL</address><time>2012 to 2019</time></span>
        </header>
        <p>Led drug discovery campaign to expand spectra of activity for several antibiotics</p>
    </article>

</section>
