<section class="thirteen columns">
    <h1>Patents</h1>
    <article>
        <p class="paper">
          Hergenrother, P.J.; Geddes, E.J.; <em>Drown, B.S.</em>; Motika, S.E.; Parker, E.N.
          “Antibiotics effective for gram-negative pathogens”
          US Provisional Patent Appl. 62/641,708, March 12, 2018.
        </p>
    </article>
    <article>
        <p class="paper">
          Hergenrother, P.J.; Richter, M.; Riley, A.; <em>Drown, B.S.</em>; Chavez, M.; Tasker, S.; Garcia, A.
          “Small-molecules active against gram-negative bacteria”
          WO2017156519A1, Sept. 14, 2017.
        </p>
    </article>
</section>
