<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
      <p class="paper">
        <em>Drown, B. S.</em>, Jooß, K., Melani, R.D., Lloyd-Jones, C., Camarillo, J.M. and Kelleher, N.L.
        <a href="https://doi.org/10.26434/chemrxiv-2022-svlqz">"Mapping the Proteoform Landscape of Five Human Tissues"</a>
        <i>ChemRxiv</i> <em>2022</em>, preprint.
      </p>
    </article>
    <article>
      <p class="paper">
        Melani, R.D., Des Soye, B.J., Kafader, J.O., Forte, E., Hollas, M., Blagojevic, V., Negrão, F., McGee, J.P., <em>Drown, B. S.</em>, Lloyd-Jones, C.,
        Seckler, H.S., Camarillo, J.M., Compton, P.D., LeDuc, R.D., Early, B., Fellers, R.T., Cho, B.-K., Mattamana, B.B., Goo, Y.A., Thomas, P.M., Ash, M.K.,
        Bhimalli, P.P., Al-Harthi, L., Sha, B.E., Schneider, J.R. and Kelleher, N.L.
        <a href="https://doi.org/10.1021/acs.jproteome.1c00882">"Next-Generation Serology by Mass Spectrometry: Readout of the SARS-CoV-2 Antibody Repertoire"</a>
        <i>J. Proteome Res.</i> <em>2021</em>, 21, 274-288.
      </p>
    </article>
    <article>
      <p class="paper">
        Perlmutter, S.J., Geddes, E. J., <em>Drown, B. S.</em>, Motika, S.E., Lee, M.R. and Hergenrother, P. J.
        <a href="https://doi.org/10.1021/acsinfecdis.0c00715">"Compound Uptake into <i>E. coli</i> Can Be Facilitated by N-Alkyl Guanidiniums and Pyridiniums"</a>
        <i>ACS Infect. Dis.</i> <em>2021</em>, 7, 162-173.
      </p>
    </article>
    <article>
        <p class="paper">
          Parker, E.N.,* <em>Drown, B.S.</em>,* Geddes, E.J., Lee, H.-Y., Ismail, N., Lau, G.W. and Hergenrother, P.J.
          <a href="https://doi.org/10.1038/s41564-019-0604-5">"Implementation of permeation rules leads to a FabI inhibitor with activity against Gram-negative pathogens"</a>
          <i>Nat. Microbiol.</i> <em>2020</em>, 5, 67-75. *co-first authors
        </p>
    </article>
    <article>
        <p class="paper">
          <em>Drown, B.S.</em>, Shirai, T., Rack, J.G.M., Ahel, I., Hergenrother, P.J.
          <a href="https://doi.org/10.1016/j.chembiol.2018.09.008">“Monitoring Poly(ADP-ribosyl)glycohydrolase
            Activity with a Continuous Fluorescent Substrate”</a>
          <i>Cell Chem. Biol.</i> <em>2018</em>, 25, 1562-1570.
        </p>
    </article>
    <article>
        <p class="paper">
          Rack, J.G.M., Ariza, A., <em>Drown, B.S.</em>, Henfrey, C., Shirai, T., Hergenrother, P.J., Ahel, I.
          <a href="https://doi.org/10.1016/j.chembiol.2018.11.001">“ADP-ribosyl Hydrolases: Structural Basis for Differential Substrate Recognition and Inhibition”</a>
          <i>Cell Chem. Biol.</i> <em>2018</em>, 25, 1533-1546.
        </p>
    </article>
    <article>
        <p class="paper">
          <em>Drown, B.S.</em>, Hergenrother, P.J.
          <a href="https://doi.org/10.1073/pnas.1807278115">“Going on offense against the gram-negative defense”</a>
          <i>Proc. Natl. Acad. Sci. U.S.A.</i>
          <em>2018</em>, 115, 6530-6532.
        </p>
    </article>
    <article>
        <p class="paper">
          Richter, M.F., <em>Drown, B.S.</em>, Riley, A.P., Garcia, A., Shirai, T., Svec, R.L., Hergenrother, P.J.
          <a href="https://doi.org/10.1038/nature22308">“Predictive compound accumulation rules yield a broad-spectrum antibiotic”</a>
          <i>Nature</i> <em>2017</em>, 545, 299.
        </p>
    </article>
    <article>
        <p class="paper">
          Garcia, A., <em>Drown, B.S.</em>, Hergenrother, P.J.
          <a href="https://doi.org/10.1021/acs.orglett.6b02333">“Access to a structurally complex compound collection via ring distortion of the alkaloid sinomenine”</a>
          <i>Organic Letters</i> <em>2016</em>, 18 (19), 4852.
        </p>
    </article>
    <article>
        <p class="paper">
          Pederson, E.D., Barbalas, J., <em>Drown, B.S.</em>, Culbertson, M., Burden, L.K., Kasianowicz, J.J., Burden, D.L.
          <a href="https://doi.org/10.1021/acs.jpcb.5b04955">“Proximal capture dynamics for a single biological nanopore sensor”</a>
          <i>Journal of Physical Chemistry B</i> <em>2015</em>, 119, 10448.
        </p>
    </article>
    <article>
        <p class="paper">
          Reiner, J.E., Balijepalli, A., Robertson, J.W.F., <em>Drown, B.S.</em>, Burden, D.L., Kasianowicz, J.J.
          <a href="https://doi.org/10.1063/1.4766363">“The effects of diffusion on an exonuclease/nanopore-based DNA sequencing engine”</a>
          <i>Journal of Chemical Physics</i> <em>2012</em>, 137, 214903.
        </p>
    </article>
</section>
