<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <p class="paper">
          <em>Drown, B.S.</em>, Shirai, T., Rack, J.G.M., Ahel, I., Hergenrother, P.J. “Monitoring Poly(ADP-ribosyl)glycohydrolase
Activity with a Continuous Fluorescent Substrate” <i>Cell Chem. Biol.</i> <em>2018</em>, 25, 1562-1570.
        </p>
    </article>
    <article>
        <p class="paper">
          Rack, J.G.M., Ariza, A., <em>Drown, B.S.</em>, Henfrey, C., Shirai, T., Hergenrother, P.J., Ahel, I.
          “ADP-ribosyl Hydrolases: Structural Basis for Differential Substrate Recognition and Inhibition”
          <i>Cell Chem. Biol.</i> <em>2018</em>, 25, 1533-1546.
        </p>
    </article>
    <article>
        <p class="paper">
          <em>Drown, B.S.</em>, Hergenrother, P.J.
          “Going on offense against the gram-negative defense”
          <i>Proc. Natl. Acad. Sci. U.S.A.</i>
          <em>2018</em>, 115, 6530-6532.
        </p>
    </article>
    <article>
        <p class="paper">
          Richter, M.F., <em>Drown, B.S.</em>, Riley, A.P., Garcia, A., Shirai, T., Svec, R.L., Hergenrother, P.J.
          “Predictive compound accumulation rules yield a broad-spectrum antibiotic”
          <i>Nature</i> <em>2017</em>, 545, 299.
        </p>
    </article>
    <article>
        <p class="paper">
          Garcia, A., <em>Drown, B.S.</em>, Hergenrother, P.J.
          “Access to a structurally complex compound collection via ring distortion of the alkaloid sinomenine”
          <i>Organic Letters</i> <em>2016</em>, 18 (19), 4852.
        </p>
    </article>
    <article>
        <p class="paper">
          Pederson, E.D., Barbalas, J., <em>Drown, B.S.</em>, Culbertson, M., Burden, L.K., Kasianowicz, J.J., Burden, D.L.
          “Proximal capture dynamics for a single biological nanopore sensor”
          <i>Journal of Physical Chemistry B</i> <em>2015</em>, 119, 10448.
        </p>
    </article>
    <article>
        <p class="paper">
          Reiner, J.E., Balijepalli, A., Robertson, J.W.F., <em>Drown, B.S.</em>, Burden, D.L., Kasianowicz, J.J.
          “The effects of diffusion on an exonuclease/nanopore-based DNA sequencing engine” 
          <i>Journal of Chemical Physics</i> <em>2012</em>, 137, 214903.
        </p>
    </article>
</section>
